body {
    max-width: 100vw;
    margin: 0;
}

header {
    border: 1px solid;
}

#cityWeather {
    text-align: center;
}

.mainSection {
    display: flex;
}

#search {
    height: 100%;
    width: 30vw;
    margin: 5px;
}

#cityName {
    width: 50%;
    height: 27px;
    border: .5px solid grey;
    margin-top: 5px;
    border-radius: 5px;
}

.enter {
    display: flex;
}

#submit {
    width: 49%;
    color: white;
    border: none;
    height: 31px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #003399;
}

.btn {
    height: 35px;
    width: 100%;
    color: white;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #003399;
}

main {
    width: 70%;
}

#currentDay {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    height: 250px;
    max-width: 100%;
}

.top {
    display: flex;
}

#icons {
    display: flex;
    width: 100%;
}

#weatherBox {
    border: 1px solid;
    padding: 5px;
    margin: 5px;
    width: 20%;
}

#weatherBox h2 {
    font-size: 18px;
}

