body {
    font-family: 'Open Sans', sans-serif;
    max-width: 100vw;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(to right, #4558b6, #261360);
    border: 1px solid transparent;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
}

#clear {
    margin-left: 10px;
    border: none;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    background-color: #aeaeae;
}

#cityWeather {
    position: relative;
    left: 45%;
    transform: translateX(-50%);
}

.mainSection {
    display: flex;
    width: 90vw;
    margin: 0 auto;
}

#search {
    height: 100%;
    width: 400px;
    margin: 10px;
}

#cityName {
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 40px;
    border: .5px solid grey;
    margin-top: 5px;
    border-radius: 5px;
}

input[type="text"] {
    padding-left: 10px;
    font-size: 18px;
}

.enter {
    border-bottom: 2px solid grey;
    width: 100%;
}

#submit {
    width: 100%;
    color: white;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #6991e3;
}

#submit:hover {
    cursor: pointer;
}

.btn {
    height: 40px;
    width: 100%;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #aeaeae;
}

.btn:hover {
    cursor: pointer;
}

main {
    width: 80%;
}

#currentDay {
    background-color: #aeaeae;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    height: 250px;
    font-size: 16px;
    max-width: 100%;
    box-shadow: 0 0 12px 10px #e6e6e6;
}

#currentDay p {
    font-size: 20px;
}

.top {
    display: flex;
}

#icons {
    display: flex;
    width: 100%;
}

#weatherBox {
    background: linear-gradient(to top right,  rgba(50,61,79,1) 35%, rgba(69,79,94,1) 74%, rgba(74,83,96,1) 85%, rgba(80,91,106,1) 93%, rgba(80,91,106,1) 100%);
    border-radius: 7px;
    border: 1px solid transparent;
    padding: 7px;
    margin: 7px;
    width: 20%;
    color: white;
    font-size: 13px;
}

#weatherBox h2 {
    font-size: 15px;
}

